<section class="content">
    <div class="logo-container" >
        <img src="assets/ThoughtCanvas_transparent.png" alt="" class="logo-img">
    </div>
    <navbar class="navbar" [isMobile]="false"></navbar>

    <div class="burguer-menu-container">
        <img class="burguer-menu" (click)="toggleMenu()" [src]="menuOpened ? '../../../../assets/x-square.svg' : '../../../../assets/burguer-menu.png'" alt="">
    </div>

</section>
<div class="white-background"  *ngIf="menuOpened">
    <navbar class="mobile-navbar" 
    *ngIf="menuOpened" 
    [isMobile]="true"
    (redirectionOccurence)="closeMenu()"
    ></navbar>
</div>