<section class="text-section">
    <h1 class="title">Unleash Your Creativity, Share Your Thoughts Globally</h1>
    <p class="description" style="font-size: 18px;">Welcome to Thought Canvas, where your words spark conversations and inspire the world.<br><br>
        
        Dive into a plethora of topics, explore diverse perspectives, and engage with a supportive audience eager to share their insights.<br>
        Whether you're a seasoned writer or just beginning, Thought Canvas provides the perfect platform to hone your craft and amplify your voice.<br><br>
        
        Discover articles that challenge your thinking, participate in lively discussions, and collaborate with others to bring your ideas to life.<br>
        At Thought Canvas, we believe that every voice matters and that your words can make a difference.<br><br>
        
        Join us today and be part of a dynamic community where creativity knows no bounds.
        Let your thoughts take flight and inspire others to see the world through your lens.
        Your story is waiting to be told, and Thought Canvas is here to help you share it.
    </p>
    <button class="cta-button" (click)="redirecToWritingPage()">Start writing!</button>
</section>
